
*.json
.vs/Collision/v17/.suo
*.sqlite
Collision/.vs/Collision/v17/.suo
*.db
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.exe
*.recipe
*.ilk
*.log
*.pdb
Collision/x64/Debug/Collision.tlog/CL.command.1.tlog
Collision/x64/Debug/Collision.tlog/CL.read.1.tlog
Collision/x64/Debug/Collision.tlog/CL.write.1.tlog
Collision/x64/Debug/Collision.tlog/Collision.lastbuildstate
Collision/x64/Debug/Collision.tlog/link.command.1.tlog
Collision/x64/Debug/Collision.tlog/link.read.1.tlog
Collision/x64/Debug/Collision.tlog/link.write.1.tlog
Collision/x64/Debug/Collision.vcxproj.FileListAbsolute.txt
Collision/x64/Debug/Source.obj
Collision/x64/Debug/vc143.idb
